<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <targets>
        <target xsi:type="ColoredConsole" name="console">
            <layout>${longdate}|${level:uppercase=true}|${logger}|${message}</layout>
            <color>
                <when condition="level == 'Trace'" value="White"/>
                <when condition="level == 'Debug'" value="Cyan"/>
                <when condition="level == 'Info'" value="Green"/>
                <when condition="level == 'Warn'" value="Yellow"/>
                <when condition="level == 'Error'" value="Red"/>
                <when condition="level == 'Fatal'" value="Magenta"/>
                <else value="White"/>
            </color>
        </target>
        <target xsi:type="File" name="logfile"
            fileName="logs/test-sms-console-app-${shortdate}.log"
            layout="${longdate}|${level:uppercase=true}|${logger}|${message}" />
    </targets>

    <rules>
        <logger name="*" minlevel="Trace" writeTo="console" />
        <logger name="*" minlevel="Trace" writeTo="logfile" />
    </rules>
</nlog>
